*{
    margin: 0;
    padding: 0;
    font-family: 'PT Mono';
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}
.logo{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icones{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}